body {
    background-color: #FAFAFA ;
    font-family: 'Catamaran', sans-serif;
    color:#4F5062;
  }

h2{
    font-weight: 200;
    font-size: 2.85em;
}

h3{
    font-weight: 800;
    font-size: 2.7em;
}

.line1{
    padding-top: 60px;
}

.textDescription{
    padding-top: 15px;
    font-size: 1.2em;
    font-weight: 200;
}
.col-lg-4{
    padding-right: 0;
}

.cardstyle{
    background-color: white;
    border-top: 5px solid coral;
    border-right: 0;
    border-left:0;
    border-bottom: 0;
    border-radius: 5px;
    -webkit-box-shadow: -2px 8px 22px -5px rgba(38,43,46,0.25);
-moz-box-shadow: -2px 8px 22px -5px rgba(38,43,46,0.25);
box-shadow: -2px 8px 22px -5px rgba(38,43,46,0.25);
width: 22rem;

}
.cardstyle1{
    background-color: white;
    border-top: 5px solid coral;
    border-right: 0;
    border-left:0;
    border-bottom: 0;
    border-radius: 5px;
    -webkit-box-shadow: -2px 8px 22px -5px rgba(38,43,46,0.25);
-moz-box-shadow: -2px 8px 22px -5px rgba(38,43,46,0.25);
box-shadow: -2px 8px 22px -5px rgba(38,43,46,0.25);
margin-top: 30px;
width: 22rem;

}

.card-title{
    padding-top: 10px;
    font-weight: 600;
    font-size: 1.4em;
}

.card-text{
    font-weight: 200;
    margin-bottom: 30px;
}

.colmidle{
    margin-top: 40px;
}


@media (max-width: 1024px) 
{
  .card
   {
    
    width: 21rem;
    
   }

   
}

@media (max-width: 780px) 
{
  .card
   {
    margin: 0;
    width: 20rem;
    margin-top: 40px;
    margin-bottom: 0px !important;
   }

   .colmidle{
       margin-top: 0;
   }

   .col-lg-4{
    justify-content: center !important;
   }
}